/* inside style.css */
.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}

body,head {

  font-family: Courier New, monospace;
  background-color: #F9FBFF;
}

.container {
        font-family: , BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        min-height: 100vh;
        display: grid;
        place-items: center;
      }
      .build {
        font: inherit;
        box-sizing: border-box;
        margin: 0;
        font-size: 3rem;
        padding: 0.3em 1.5em;
        font-weight: bold;
        border: none;
        background-color: hsl(211, 100%, 36%);
        color: hsl(211, 100%, 98%);
        box-shadow: 0.3em 0.3em hsl(211, 100%, 16%);
        transition: transform 250ms ease-in-out,
          box-shadow 250ms ease-in-out 10ms;
        cursor: pointer;
      }

      .build:hover {
        box-shadow: 0.2em 0.2em hsl(211, 100%, 16%);
        transform: translate3d(0.1em, 0.1em, 0);
      }

      .build:focus {
        box-shadow: none;
        outline: none;
        transform: translate3d(0.3em, 0.3em, 0);
      }